$pixelGrid: 8px;
$borderRadius: 3px;

/** Colors */
$base: #4367BF;
$accent: #33C87E;
$primary: $base;

/** Z-Index */
$headerZindex: 997;
$galleryIndex: 998;
$waterMarkZindex: 999;

/** Hamburgers */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 30px;

/** Header */
$headerTopBackground: #EEEEEE;

/** Header Nav Link */
$headerNavLinkColor: $black;
$headerNavLinkColorHover: $black;

/** Contact Page */
$googleMapHeight: 200px;
$googleMapWidth: 100%;

/** CSS Variables */
:root {
    --wpAdminBarHeight: 32px;
    --topBarHeight: 29px;
    --headerHeight: 74px;
    --bodyPaddingTop: calc(var(--topBarHeight) + var(--headerHeight));
}

@include media-breakpoint-down(md) {
    :root {
        --headerHeight: 56px;
    }
}

@media screen and (max-width: 782px) {
    :root {
        --wpAdminBarHeight: 46px;
    }
}
