.banner {
    background: {
        attachment: fixed;
        position: center center;
        size: cover;
    };
    padding: $pixelGrid * 5 0;
    position: relative;

    &::before {
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .banner-heading {
        color: $white;
    }

    .banner-subheading {
        color: $white;
    }

    .banner-text {
        color: $white;
    }
}

.banner--full-height {
    height: calc(100vh - var(--bodyPaddingTop) - var(--wpAdminBarHeight));

    &>.container {
        height: 100%;

        &>.row {
            height: 100%;

            &>[class^="col-"] {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

.banner--center {
    [class^="col-"] {
        align-items: center;
        display: flex;
        flex-direction: column;

        .banner-text {
            p {
                text-align: center;
            }
        }
    }
}
