.comment-list {
    list-style: none;
    padding: 0;
}

.comment {
    &-body {
        padding: ($pixelGrid) 0;

        &-meta {
            &-author {
                //
            }

            &-meta-data{
                //
            }
        }
    }

    /** Content of each comment */
    &-content {
        //
    }

    /** Reply button of each comment */
    &-reply {
        //
    }

    /** List of sub-comments of each comment */
    .children {
        list-style-type: none;
        padding-left: $pixelGrid * 3;
    }
}

.comment-respond {
    .comment-reply-title {
        a {

        }

        #cancel-comment-reply-link {

        }
    }

    .comment-form {
        .logged-in-as {

        }

        .comment-notes {

        }

        &-comment {

        }

        &-author {

        }

        &-email {

        }

        &-url {

        }

        .form-submit {

        }
    }
}
