/** Inputs */
.form-control {
    border-radius: $borderRadius;
    height: 45px;
}

/** Error message under the fields */
span.wpcf7-not-valid-tip {
    color: $danger;
    font-size: 14px;
}

/** Response message after form submission */
div.wpcf7-response-output {
    margin: 0;
}
