.error404 {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 0 !important;

    h1 {
        font-size: 10em;
        text-align: center;
    }

    p {
        text-align: center;
    }
}
