.footer-information-wrapper {
    background: black;
    padding: calc(#{$pixelGrid} * 7) 0;
}

.footer-widget {
    margin-bottom: calc(#{$pixelGrid} * 2);

    &:last-child {
        margin-bottom: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            align-items: flex-start;
            display: flex;
            margin-bottom: $pixelGrid;

            a {
                color: $white;
                display: flex;
            }
        }
    }
}

.footer-widget-title {
    color: white;
    margin-bottom: $pixelGrid;
    text-transform: uppercase;
}

.footer-copyright-wrapper {
    background: black;
    padding: $pixelGrid 0;
}

.footer-copyright {
    color: white;
    margin-bottom: 0;
    text-align: center;

    a {
        color: white;
    }
}

@media all and (max-width: 575px) {
    .footer-widget-title {
        text-align: center;
    }

    .footer-widget {
        text-align: center;

        ul {
            li {
                display: flex;
                justify-content: center;
            }
        }
    }
}
