.chocolat-wrapper {
    z-index: $galleryIndex;

    .chocolat-close {
        background: url(../images/vendor/chocolat/dist/close.png) 50% 50% no-repeat;
    }

    .chocolat-fullscreen {
        background: url(../images/vendor/chocolat/dist/fullscreen.png) 50% 50% no-repeat;
    }

    .chocolat-left {
        background: url(../images/vendor/chocolat/dist/left.png) 50% 50% no-repeat;
    }

    .chocolat-right {
        background: url(../images/vendor/chocolat/dist/right.png) 50% 50% no-repeat;
    }
}

.chocolat-overlay {
    background-color: #000;
}

.chocolat-loader {
    background: url(../images/vendor/chocolat/dist/loader.gif);
}

.gallery-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gallery-image {
    width: 100%;
}
