.header-top {
    background: $headerTopBackground;
    padding: $pixelGrid / 2 0;

    .container {
        display: flex;
        justify-content: flex-end;
    }

    ul {
        list-style: none;
        display: flex;
        margin: 0;

        li {
            font-size: 14px;
            margin: 0 0 0 $pixelGrid * 3;
        }
    }
}

.navbar-brand {
    img {
        width: 100px;
    }
}

.nav-item {
    padding: $pixelGrid;

    &:last-child {
        padding-right: 0;
    }
}

.nav-link {
    display: inline-block;
    color: $headerNavLinkColor;
    padding: $pixelGrid;

    &.dropdown-toggle::after {
        vertical-align: 0.15em;
    }

    &:hover {
        color: $headerNavLinkColorHover;
    }
}

.nav-link--cta {
    background: $accent;
    border: 1px solid $accent;
    border-radius: $borderRadius;
    color: $white;
    padding: $pixelGrid $pixelGrid * 2 !important;

    &:hover {
        background: darken($accent, 5%);
        color: $white;
    }
}

@media all and (max-width: 991px) {
    .nav-item {
        padding-left: 0;
    }
}
