.watermark {
    align-items: center;
    background: transparent;
    bottom: 0;
    color: $primary;
    display: flex;
    font-size: 7rem;
    font-weight: bold;
    justify-content: center;
    left: 0;
    opacity: 0.7;
    pointer-events: none;
    position: fixed;
    right: 0;
    text-transform: capitalize;
    top: 0;
    z-index: $waterMarkZindex;
}

@include media-breakpoint-down(md) {
    .watermark {
        font-size: 5rem;
    }
}

@include media-breakpoint-down(xs) {
    .watermark {
        font-size: 4rem;
    }
}
