body {
    position: relative;
}

body.header--sticky {
    padding-top: var(--bodyPaddingTop);

    .header-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: $headerZindex;
    }

    .navbar {
        background: $white;
        position: fixed;
        top: var(--topBarHeight);
        left: 0;
        width: 100%;
        z-index: $headerZindex;
    }

    &.logged-in {
        .header-top {
            top: var(--wpAdminBarHeight);
        }

        .navbar {
            top: calc(var(--wpAdminBarHeight) + var(--topBarHeight));
        }
    }
}

@include media-breakpoint-down(md) {
    body.header--sticky {
        &.logged-in {
            .header-top {
                top: var(--wpAdminBarHeight);
            }

            .navbar {
                top: calc(var(--wpAdminBarHeight) + var(--topBarHeight));
            }
        }
    }
}

@media all and (max-width: 782px) {
    body.header--sticky {
        &.logged-in {
            padding-top: calc(var(--topBarHeight) + var(--headerHeight));

            .header-top {
                top: var(--wpAdminBarHeight);
            }

            .navbar {
                top: calc(var(--wpAdminBarHeight) + var(--topBarHeight));
            }
        }
    }
}

@media all and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}
